@import "../../../sass/main.scss";

.comment-form {
  textarea {
    flex: 5;
    padding: 10px;
    width: 100%;
    border-radius: $base-border-radius;
    outline: none;
    resize: none;
    overflow: hidden;

    // background-color: transparent;
  }

  .comment-button {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

    .save-button {
      @include btn;
      padding: 10px;
      border-radius: $base-border-radius;
      background: #9e9e9e;
      color: white;
      margin-right: 5px;
      cursor: default;
    }

    .cancel-button {
      @include btn;
      padding: 10px;
      border-radius: $base-border-radius;
      background: #3d5afe;
      color: white;
      margin-right: 5px;
      cursor: pointer;
      &:hover {
        background-color: #303f9f;
      }
    }
  }
}
